name: ts

on:
  pull_request:
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test
      - run: pnpm build

      # e2e-test
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: list-open-pulls
        with:
          result-encoding: string
          script: |
            const issues = await github.paginate(github.rest.issues.listForRepo, {
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'open',
            })
            const pulls = issues.filter((i) => i.pull_request)
            core.info(`response = ${JSON.stringify(pulls, undefined, 2)}`)
            return pulls.map((pull) => pull.number).join('\n')

      - name: e2e-test / add-labels
        uses: ./
        with:
          issue-numbers: ${{ steps.list-open-pulls.outputs.result }}
          add-labels: e2e-test

      - name: e2e-test / remove-labels
        uses: ./
        with:
          issue-numbers: ${{ steps.list-open-pulls.outputs.result }}
          remove-labels: e2e-test

      - name: e2e-test / remove-labels ignores a label which is not attached
        uses: ./
        with:
          issue-numbers: ${{ steps.list-open-pulls.outputs.result }}
          remove-labels: e2e-test

      - name: e2e-test / append-or-update-body
        uses: ./
        with:
          context: true
          append-or-update-body: |
            ----
            :octocat: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

      - name: e2e-test / post-comment
        uses: ./
        with:
          context: true
          post-comment: |
            :white_check_mark: e2e-test has passed

  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm run check
      - uses: int128/update-generated-files-action@d3f65c7154e5db6d92286d52217476f469239629 # v2.80.0
